:root {
  margin: 0 auto;
  text-align: center;
  --green: #358856;
  --brown: #742602;
  --white: #ffffff;
  --black: #000000;
  --bg-color: #fef7ec;
  --brown-1: #7426022b;
  --pink: #ff9b9b;
  --gold: #e5ba73;
  --sky: #89cff3;
  --lime: #9ade7b;
  --light-gray: #9ca3af;
  font-family: "Quicksand", sans-serif;
}

/* GLOBAL STYLES */
body {
  background: rgb(254, 247, 236);
  font-family: "Quicksand", sans-serif;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* typo */

.heading-1 {
  font-size: 1.8em;
  margin: 0;
  text-align: left;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.heading-2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.heading-3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* DEMO-SPECIFIC STYLES */
.typewriter p {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--brown);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .typewriter p {
    white-space: nowrap; /* Keeps the content on a single line */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    animation: typing 3.5s steps(30, end), 0.5s step-end infinite;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 0.3s;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-size: 1.8em;
  margin: 0;
  text-align: left;
}

h2 {
  margin: 0;
  text-align: left;
}

h3 {
  text-align: left;
}

p {
  margin: 0;
  text-align: left;
}

.subtitle {
  font-size: 1em;
  opacity: 0.5;
}

.label {
  font-size: 0.8em;
  font-weight: 700;
  opacity: 0.5;
}

.attribute {
  font-size: 1em;
  font-weight: 700;
}

.icon-box {
  align-items: center;
  border-radius: 1em;
  width: 2.5em;
  height: 2.5em;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

@keyframes slideIn {
  0% {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideAndFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes flipY {
  0% {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

.flip {
  position: relative;
  perspective: 1000px;
}

.flip > .front,
.flip > .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
}

.flip > .front {
  transform: rotateY(-180deg);
  opacity: 0;
}

.flip > .back {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(0);
  pointer-events: none;
  height: max-content;
}

.flip.flipped > .front {
  transform: rotateY(0);
  opacity: 1;
}

.flip.flipped > .back {
  opacity: 1;
  transform: rotateY(180deg);
  pointer-events: none;
}

.hidden {
  display: none;
}

.main-card-flip {
  display: flex;
  width: 100%;
  height: max-content;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s;
  background-repeat: no-repeat;
}

.background-flip-card {
  padding: 0;
  height: max-content;
}

.hidden {
  display: none;
}

.map-land-name {
  position: relative;
  width: fit-content;
  font-size: 1.8em;
  font-family: Merienda, cursive;
  font-weight: 700;
  color: var(--brown);
  cursor: pointer;
}

.map-land-name :hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: var(--white);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes popUp {
  0% {
    scale: 0;
  }

  90% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader:after,
.loader:before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animloader 2s ease-in-out infinite;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes animloader {
  0%,
  to {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }
}

.circles {
  list-style: none;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 40%;
  color: var(--brown);
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 30%;
  animation-delay: 0s;
}

.circles li:nth-child(12) {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(13) {
  left: 75%;
  animation-delay: 4s;
}

.circles li:nth-child(14) {
  left: 50%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(15) {
  left: 65%;
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 0.3;
    border-radius: 0;
  }

  to {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.navigation {
  height: 100%;
  flex-shrink: 0;
  width: 180px;
}

.menu {
  width: 180px;
}

.site-logo {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
}

.site-logo img {
  max-width: 150px;
}

.menu-list {
  text-decoration: none;
}

@media (min-width: 0px) {
  @media (orientation: landscape) {
    .site-logo {
      min-height: 48px;
    }
  }
}
@media (min-width: 768px) {
  .site-logo {
    padding-left: 24px;
    padding-right: 24px;
    min-height: 64px;
  }
}
.menu-list li {
  margin: 2px 10px;
}

.menu-list li a {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  min-width: 64px;
  width: 100%;
  text-transform: none;
  font-size: 16px;
  color: rgb(116, 38, 2);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-image: initial;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--black);
  padding: 8px 10px 8px 20px;
  border-radius: 50px;
}

.menu-items {
  margin: 0px;
  padding: 20px 0px;
}

.menu-list span {
  display: inherit;
  margin-right: 8px;
  margin-left: -4px;
}

.menu-list li a {
  text-decoration: none;
  color: rgb(116, 38, 2);
}

.menu-list li p {
  width: 100%;
  color: rgb(116, 38, 2);
}

.menu {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1200;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 998;
  top: 0px;
  left: auto;
  right: 0px;
  box-shadow: none;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: none;
}

.header-content {
  -webkit-box-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  background-color: rgb(254, 247, 236);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.main-content {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 80px 24px 24px;
  max-width: 1084px;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 0px) {
  .header-content {
    height: 48px;
  }
}

@media (min-width: 768px) {
  .header-content {
    width: calc(100% - 180px);
    margin-left: 180px;
  }
  .main-content {
    width: calc(100% - 180px);
  }
}

@media (min-width: 768px) {
  .header-content {
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.menu-items li a:hover {
  border-color: var(--green);
  background-color: var(--green);
  color: white;
}

@media (min-width: 768px) {
  .menu-items li a:hover {
    background: var(--brown-1);
  }
}

@media screen and (max-width: 768px) {
  .herb-row-wrapper {
    gap: 16px;
  }
}

@media (min-width: 0px) {
  .menu-items li a:hover {
    background: var(--brown-1);
  }
}

.button-primary {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Quicksand, sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  text-transform: none;
  font-weight: 700;
  height: 40px;
  color: var(--white);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  padding: 6px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50px;
  border-color: var(--black);
  background: var(--brown);
}

.button-no-background {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  text-transform: none;
  color: var(--brown);
  outline: 0px;
  margin: 0px;
  text-decoration: none;
  padding: 5px 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 50px;
  border-color: var(--brown);
}

.button-no-background:hover {
  background-color: var(--brown);
  border-color: var(--brown);
}

.subcrible-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Quicksand, sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  color: var(--black);
  text-transform: none;
  background-color: var(--white);
  font-weight: 700;
  width: fit-content;
  outline: 0px;
  margin: 0.5em 0px 0px;
  text-decoration: none;
  padding: 5px 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 50px;
  border-color: var(--white);
}

.button-chat {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  height: 1.4em;
  width: 1.4em;
  background-color: var(--green);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
  flex: 0 0 auto;
  padding: 8px;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;
  border-radius: 50%;
}

.button-chat:hover {
  background-color: var(--black);
}

.subcrible-button:hover {
  background-color: var(--brown);
  border-color: var(--brown);
  color: var(--white);
}

.button-primary:hover {
  border-color: var(--green);
  background-color: var(--green);
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.banner {
  color: var(--white);
  font-size: 0.9em;
  position: relative;
  margin-top: 20px;
}

.banner p {
  position: absolute;
  bottom: 1em;
}

.banner img {
  width: 100%;
}

.navbar-custom {
  margin: 0px 16px 0px -12px;
}

.intro-text-wrapper {
  border: 1px solid var(--brown);
  background-color: rgba(229, 186, 115, 0.2);
  padding: 0.2em 2em 0.2em 0.2em;
  border-radius: 50px;
  display: grid;
  place-items: center;
  grid-template-columns: 3em auto;
  width: fit-content;
  gap: 1em;
  margin: 0px 0px 1.2em;
}

.bear-image {
  background-color: var(--brown-1);
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

/* Libs */
.card-wrapper {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.card-item {
  background-color: var(--white);
  color: var(--black);
  padding: 1em;
  border-radius: 2em;
  cursor: pointer;
}

.card-item:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1em 0.2em;
}

.card-item .title {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.card-item .subtitle {
  font-size: 1em;
}

.card-item .other-info {
  display: flex;
  gap: 1.2em;
  justify-content: left;
  margin: 1em 0px;
}

.card-item .title h2 {
  margin: 0.5em 0px;
  text-align: left;
}

.card-item .title .number {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--light-gray);
  opacity: 0.4;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.6em;
}

.card-item .title .number p {
  font-size: 0.8em;
}

.card-item img {
  width: 100%;
  border-radius: 1em;
}

.card-item .subInfo {
  opacity: 0.5;
}

.email-subcrible {
  margin-top: 4em;
  padding: 2em;
  background-color: var(--green);
  border-radius: 1.5em;
  color: var(--white);
  display: grid;
  gap: 1em;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.bg-gold {
  background-color: var(--gold);
}

.gap-16 {
  gap: 16px;
}

/* Badge */
.badges-list {
  margin: 1em 0px;
}
.badges-item {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border-radius: 1em;
  padding: 2em;
}

.badges-item img {
  width: 100%;
  border-radius: 1em;
  opacity: 0.25;
}

.badges-item img:hover {
  opacity: 1;
}

.badges-item p {
  text-align: center;
  margin: 0.6em 0px;
  color: var(--brown);
}

.badges-item a {
  color: rgba(0, 0, 0, 0.26);
  border: 1px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
  cursor: default;
}

/* login */
.login-heading {
  text-align: center;
  line-height: 1.3;
  color: rgb(53, 136, 86);
  max-width: 400px;
  margin: 2em 0px 1em;
}

/* lesson */
.lesson-radius {
  border-radius: 1em;
}

.banner-lesson {
  display: grid;
  gap: 1em;
}

@media (min-width: 0px) {
  .banner-lesson {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .banner-lesson {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 920px) {
  .banner-lesson {
    grid-template-columns: 2fr 1fr;
  }
}

.banner-left {
  position: relative;
  background-image: url("../images/bg-lessong-1.webp");
  background-size: cover;
  padding: 2em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.banner-left::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: var(--green);
  opacity: 0.8;
  border-radius: 2em;
  z-index: 1;
}

.banner-right {
  position: relative;
  background-image: url(../images/bg-lesson-2.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding: 2em;
  border-radius: 2em;
}

.banner-right::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: var(--brown);
  opacity: 0.8;
  border-radius: 2em;
  z-index: 1;
}

.banner-right:hover::before,
.banner-left:hover::before {
  opacity: 0.5;
}

.banner-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-content {
  display: flex;
  gap: 0.6em;
  -webkit-box-align: center;
  align-items: center;
  margin: 1.5em 0px;
}

.color-white {
  color: white;
}
.z-2 {
  z-index: 2;
}

.color-brown {
  color: var(--brown);
}

.color-green {
  color: var(--green);
}

.banner-content img {
  width: 3em;
  border-radius: 1em;
  border: 3px solid rgba(255, 255, 255, 0.314);
}

.banner-content .subInfoTitle p {
  color: var(--white);
}

/* herb */
.content-herb {
  max-width: 684px;
  min-height: 100vh;
}
.herb-card-wrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.herb-card {
  background-color: var(--white);
  border-radius: 2em;
  margin-top: 2em;
  padding: 2em 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  gap: 20px;
  animation: 1s ease-in-out 0s 1 normal forwards running slideInFromBottom;
}

.herb-card img {
  width: 100%;
  border-radius: 2em;
}

.bg-pink {
  background-color: var(--pink);
}

.bg-pink-2 {
  background-color: rgb(255, 182, 193);
}

.bg-water {
  background-color: rgb(179, 240, 242);
}

.bg-lime {
  background-color: var(--lime);
}

@media (min-width: 0px) {
  .herb-card {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .herb-card {
    grid-template-columns: 1fr 1fr;
  }
}

.herb-detail {
  margin-top: 1em;
  animation: 1.5s ease-in-out 0s 1 normal forwards running slideInFromBottom;
}

.herb-detail .herb-detail-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2em;
}

.herb-images .row img {
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.continue-button {
  padding: 0.8em 1.6em;
  margin: 4em 0px 0px;
  font-size: 16px;
}

.button-icon {
  display: inherit;
  margin-right: 8px;
  margin-left: -4px;
}

.button-icon svg {
  width: 20px;
  height: 20px;
}

.herb-info sub {
  font-size: 1em;
  opacity: 0.5;
}

.herb-warning {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2em;
}

.warning {
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 2em;
  padding: 0.3em 0.6em;
  scale: 0.8;
  color: red;
  font-weight: bold;
}

.chat-input {
  display: grid;
  grid-template-columns: 2.4em auto 2.4em;
  border: 1px solid white;
  padding: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1.6em;
  border-radius: 1em;
  margin: 0.8em 0px 0.5em;
  gap: 2px;
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
}

.chat-input-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  color: var(--brown);
  border: none;
  width: 100%;
}

.chat-input-field {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.chat-input-field .input-field {
  color: var(--brown);
  font-weight: 700;
}

.input-field {
  letter-spacing: inherit;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.input-field::placeholder {
  color: var(--brown);
}

.input-field:focus {
  outline: 0px;
}

.chat-input-field .input-field::-moz-placeholder {
  color: var(--brown);
}

.chat-notify {
  display: flex;
  -webkit-box-align: start;
  align-items: start;
  margin: 1.6em 0px 2.8em;
  gap: 12px;
}

.chat-notify p {
  color: var(--brown);
  opacity: 0.6;
}

.most-recent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0px 0px;
}

.question {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  min-width: 64px;
  text-transform: none;
  text-align: left;
  font-size: 1em;
  background-color: var(--brown);
  color: var(--white);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-image: initial;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--black);
  padding: 0.5em 1em;
  border-radius: 1em;
  margin: 0.2em;
}

.question:hover {
  border-color: var(--green);
  background-color: var(--green);
  color: white;
}
/* home */
.function-buttons {
  margin: 1.4em 0px;
  padding: 0px 10px;
}

.navigation {
  display: flex;
  gap: 15px;
}
.show-all-herb {
  color: var(--brown);
  cursor: pointer;
  font-weight: bold;
}

.next-herb-title {
  border-bottom: 1px solid var(--brown);
}

.sidebar-item {
  display: flex;
  gap: 15px;
  -webkit-box-align: start;
  align-items: start;
  margin: 1.4em 0px;
  cursor: pointer;
  padding: 0.4em;
  border-radius: 1em;
}

.sidebar-item .herb-image-item {
  width: 3em;
  border-radius: 1em;
}

.sidebar-item .sidebar-image-wrapper img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.sidebar-item .lesson-image-item {
  width: 5em;
  border-radius: 1em;
}

.swiper-slide {
  width: 100% !important;
}

/* favorite */
.favorite-herbs .herb-item img {
  width: 100%;
  border-radius: 1em;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  margin: 0.5em 0px;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes flipY {
  0% {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

.flip {
  position: relative;
  perspective: 1000px;
}

.flip > .front,
.flip > .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
}

.flip > .front {
  transform: rotateY(-180deg);
  opacity: 0;
}

.flip > .back {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(0);
  pointer-events: none;
  height: max-content;
}

.flip.flipped > .front {
  transform: rotateY(0);
  opacity: 1;
}

.flip.flipped > .back {
  opacity: 1;
  transform: rotateY(180deg);
  pointer-events: none;
}

.herb-content ul,
.header-content li {
  text-align: left;
}

.game-map {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  top: -240px;
  left: 0px;
  margin-bottom: -240px;
  overflow-y: auto;
}

.map-land-name {
  position: relative;
  width: fit-content;
  font-size: 1.8em;
  font-family: Merienda, cursive;
  font-weight: 700;
  color: var(--brown);
  cursor: pointer;
}

.map-1 {
  z-index: 2;
}
.map-2 {
  z-index: 3;
}
.map-3 {
  z-index: 4;
}
.map-4 {
  z-index: 5;
}
.map-5 {
  z-index: 6;
}
@media (min-width: 0px) {
  .map-1 {
    top: 550px;
    left: 530px;
  }
  .map-2 {
    top: 480px;
    left: 40px;
  }
  .map-3 {
    top: 680px;
    left: 95px;
  }
  .map-4 {
    top: 450px;
    left: 260px;
  }
  .map-5 {
    top: 540px;
    left: 710px;
  }
}
@media (min-width: 1200px) {
  .map-1 {
    top: 610px;
    left: 650px;
  }
  .map-2 {
    top: 520px;
    left: 60px;
  }
  .map-3 {
    top: 750px;
    left: 115px;
  }
  .map-4 {
    top: 500px;
    left: 310px;
  }
  .map-5 {
    top: 600px;
  }
}

.quest-notice{
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
}
.modal-content{
  border-radius: 25px;
  width: 100%;
  max-width: 900px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 64px);
  max-width: 600px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 32px;
}
.modal-body{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.125);
  border-radius: 40px;
  padding: 40px;
  width: 100%;
}

.no-border{
  border:none;
}

.modal-close-btn{
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-height: 36px;
    min-width: 0px;
    z-index: 1050;
    color: rgba(0, 0, 0, 0.87);
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: none;
    height: 40px;
    width: 40px;
    background-color: white;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0px;
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(156, 163, 175);
    border-image: initial;
}

.modal-wrapper{
  display: grid;
  gap: 1em;
  margin: 0em;
}

.modal-image img{
  width: 100%; 
  border-radius: 25px; 
  position: relative; 
  top: 0px; 
  left: 0px; 
  z-index: 1;
}

.modal-description{
  margin: 1em 0px;
}

.modal-quest-progresss{
  padding: 1em 1.5em;
  border-radius: 25px;
  background-color: rgba(154, 222, 123, 0.165);
}

.progress-bar{
  background-color: rgb(238, 238, 238);
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 0;
  height: 10px;
  border-radius: 5px;
}

.current-progress{
  transform: translateX(-100%);
  border-radius: 5px;
  background-color: rgb(53, 136, 86);
  width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    transition: transform 0.4s linear;
    transform-origin: left center;
}