:root {
    margin: 0 auto;
    text-align: center;
    --green: #358856;
    --brown: #742602;
    --white: #ffffff;
    --black: #000000;
    --bg-color: #FEF7EC;
    --brown-1: #7426022b;
    --pink: #FF9B9B;
    --gold: #E5BA73;
    --sky: #89CFF3;
    --lime: #9ADE7B;
    --light-gray: #9ca3af;
    font-family: "Quicksand", sans-serif;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter .3s
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa)
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa)
}

@keyframes logo-spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear
    }
}

.card {
    padding: 2em
}

.read-the-docs {
    color: #888
}

.title {
    font-size: 1.8em;
    margin: .5em 0;
    color: var(--green);
    font-family: Merienda,cursive;
    font-weight: 700
}

h1 {
    font-size: 1.8em;
    margin: 0;
    text-align: left
}

h2 {
    margin: 0;
    text-align: left
}

h3 {
    text-align: left
}

p {
    margin: 0;
    text-align: left
}

.subtitle {
    font-size: 1em;
    opacity: .5
}

.label {
    font-size: .8em;
    font-weight: 700;
    opacity: .5
}

.attribute {
    font-size: 1em;
    font-weight: 700
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 2.5em;
    height: 2.5em
}

@keyframes slideIn {
    0% {
        transform: translateY(50%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes slideAndFadeIn {
    0% {
        transform: translateY(-100%);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes popIn {
    0% {
        transform: scale(2);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes flip {
    0% {
        transform: rotateX(0)
    }

    to {
        transform: rotateX(360deg)
    }
}

@keyframes flipY {
    0% {
        transform: rotateY(0)
    }

    to {
        transform: rotateY(180deg)
    }
}

.flip {
    position: relative;
    perspective: 1000px
}

.flip>.front,.flip>.back {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transition-duration: .5s;
    transition-property: transform,opacity;
    width: 100%;
    height: max-content;
    flex-wrap: wrap
}

.flip>.front {
    transform: rotateY(-180deg);
    opacity: 0
}

.flip>.back {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(0);
    pointer-events: none;
    height: max-content
}

.flip.flipped>.front {
    transform: rotateY(0);
    opacity: 1
}

.flip.flipped>.back {
    opacity: 1;
    transform: rotateY(180deg);
    pointer-events: none
}

.hidden {
    display: none
}

.main-card-flip {
    display: flex;
    width: 100%;
    height: max-content;
    border-radius: 20px;
    position: relative;
    transition: background .3s;
    background-repeat: no-repeat
}

.background-flip-card {
    padding: 0;
    height: max-content
}

.map-land-name {
    position: relative;
    width: fit-content;
    font-size: 1.8em;
    font-family: Merienda,cursive;
    font-weight: 700;
    color: var(--brown);
    cursor: pointer
}

.map-land-name :hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    color: var(--white)
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100vh)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes popUp {
    0% {
        scale: 0
    }

    90% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative
}

.loader:after,.loader:before {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: animloader 2s ease-in-out infinite
}

.loader:after {
    animation-delay: 1s
}

@keyframes animloader {
    0%,to {
        transform: scale(0);
        opacity: 1
    }

    50% {
        transform: scale(1);
        opacity: 0
    }
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 40%;
    color: var(--brown)
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px
}

.circles li:nth-child(1) {
    left: 25%;
    animation-delay: 0s
}

.circles li:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s
}

.circles li:nth-child(3) {
    left: 70%;
    animation-delay: 4s
}

.circles li:nth-child(4) {
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s
}

.circles li:nth-child(5) {
    left: 65%;
    animation-delay: 0s
}

.circles li:nth-child(6) {
    left: 75%;
    animation-delay: 3s
}

.circles li:nth-child(7) {
    left: 35%;
    animation-delay: 7s
}

.circles li:nth-child(8) {
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s
}

.circles li:nth-child(9) {
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s
}

.circles li:nth-child(10) {
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s
}

.circles li:nth-child(11) {
    left: 30%;
    animation-delay: 0s
}

.circles li:nth-child(12) {
    left: 20%;
    animation-delay: 2s;
    animation-duration: 12s
}

.circles li:nth-child(13) {
    left: 75%;
    animation-delay: 4s
}

.circles li:nth-child(14) {
    left: 50%;
    animation-delay: 0s;
    animation-duration: 18s
}

.circles li:nth-child(15) {
    left: 65%;
    animation-delay: 0s
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0);
        opacity: .3;
        border-radius: 0
    }

    to {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%
    }
}
